<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.lilac.repository">
  <resultMap id="BaseEntityResultMap" type="com.snail.lilac.model.BaseEntity">
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR" />
    <result column="INSTANCE_DESC" property="instanceDesc" jdbcType="VARCHAR" />
    <result column="ACTIVE_VERSION" property="activeVersion" jdbcType="DECIMAL" />
    <result column="CURRENT_VERSION" property="currentVersion" jdbcType="DECIMAL" />
    <result column="CREATED_USER" property="createdUser.id" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_USER" property="lastUpdatedUser.id" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_TIME" property="lastUpdatedTime" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
  </resultMap>
</mapper>