<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.lilac.repository.i18n.I18NMessageRepository" >
  <resultMap id="I18NMessageResultMap" type="com.snail.lilac.model.i18n.I18NMessage" extends="com.snail.lilac.repository.BaseEntityResultMap">
        <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CONTENT_TEXT" property="contentText" jdbcType="VARCHAR" />
    <result column="FULL_CONTENT" property="fullContent" jdbcType="VARCHAR" />
    <result column="FULL_LANGUAGE" property="fullLanguage" jdbcType="VARCHAR" />
    <result column="HELP_TEXT" property="helpText" jdbcType="VARCHAR" />
    <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.snail.lilac.model.i18n.I18NMessage" >
     insert into USER_INFO (INSTANCE_RRN, INSTANCE_ID, INSTANCE_DESC, 
      USER_NAME, SPACE_DEFINITION, ACTIVE_VERSION, 
      CURRENT_VERSION, ENTITY_STATUS, PASSWORD, 
      PLAIN_PASSWORD, SALT, CREATED_USER, 
      CREATED_TIME, LAST_UPDATE_USER, LAST_UPDATE_TIME, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5)
    values (#{instanceRrn,jdbcType=VARCHAR}, #{instanceId,jdbcType=VARCHAR}, #{instanceDesc,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{spaceDefinition.instanceRrn,jdbcType=VARCHAR}, #{activeVersion,jdbcType=DECIMAL}, 
      #{currentVersion,jdbcType=DECIMAL}, #{entityStatus.code,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR}, 
      #{plainPassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{createdUser.instanceRrn,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=DATE}, #{lastUpdateUser.instanceRrn,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=DATE}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR})
  </insert>
  <select id="">
  </select>
</mapper>